<br/>
<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-8 font-italic"><%= @user.full_name %>.</h1>
            <p class="lead my-3">You have made <%= @comments.count %> <%= @comments.count == 1 ? "comment" : "comments" %>.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8 blog-main">
            
            <% @comments.each do |comment| %>
                <div class="card">
                    <div class="card-header">
                        <a class="text-dark card-link" href="/developments/<%= comment.development.slug %>"><h5><%= comment.development.title %></h5></a>
                    </div>
                    <div class="card-body">
                        <% if comment.rating %>
                            <h5 class="card-title">Rating: <%= comment.rating %></h5>
                        <% end %>
                        <p class="card-text"><%= comment.body %></p>
                        <% if comment.user == current_user %>
                            <form method="POST" action="/comments/<%= comment.id %>">
                                <input type=hidden name="_method" value="DELETE">
                                <input type="hidden" name="route" value="<%= @current_uri %>">
                                <button type="submit" class="btn btn-danger">Delete comment.</button>
                            </form>
                        <% end %>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><%= comment.ago_in_words %></small>
                    </div>
                </div>
                <br>
            <% end %>

        </div>
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">Your followed developers:</h4>
                <ul class="mb-0">
                <% @followed_developers.each do |developer| %>
                    <li><a class="text-dark card-link" href="/developers/<%= developer.slug %>"><h6 class="mb-0"><%= developer.company %></h6></a></li>
                <% end %>
                </ul>
            </div>
        </aside>
    </div>


</div>
