<br/>
<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-8 font-italic">Viewing developments for <%= @developer.company %>.</h1>
            <% if current_developer? %>
                <br/>
                <form method="GET" action="/developments/new">
                    <button type="submit" class="btn btn-primary centre">Add a new development.</button>
                </form>
            <% else %>
                <p class="lead my-3">To find out more information about the company, click <a href="<%= @developer.website %>%">here<a>.</p>
            <% end %>
        </div>
    </div>
</div>

<div class="album pt-4 bg-white">
    <div class="container">
        <div class="card-deck">
            <% @developer.developments.each do |development| %>
                <div class="card mb-4 bg-light shadow-sm" style="min-width: 18rem;">
                    <!--
                    <img class="card-img-top rounded" src="{{ job.image.url }}" />
                    -->
                    <a class="text-dark card-link" href="/developments/<%= development.slug %>">
                        <div class="card-body">
                            <h2 class="card-heading"><%= development.title %></h2>
                            <p class="card-text"><%= development.summary %></p>
                            <% if current_developer? %>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <form method="GET" action="/developments/<%= development.slug %>/eidt">
                                            <button type="submit" class="btn btn-primary centre">Edit development.</button>
                                        </form>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <form method="POST" action="/developments/<%= development.slug %>">
                                            <input type=hidden name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-primary centre">Delete development.</button>
                                        </form>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </a>
                </div>
            <% end %>
        </div>
    </div>
</div>