<br/>
<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-8 font-italic">Viewing developments for <%= @current_user.company %>.</h1>
            <p class="lead my-3">To find out more information about the company, click <a href="<%= @current_user.website %>%">here<a>.</p>
        </div>
    </div>
</div>

<div class="album pt-4 bg-white">
    <div class="container">
        <div class="card-deck">
            <% @current_user.developments.each do |development| %>
                <div class="card mb-4 bg-light shadow-sm" style="min-width: 18rem;">
                    <!--
                    <img class="card-img-top rounded" src="{{ job.image.url }}" />
                    -->
                    <a class="text-dark card-link" href="/developments/<%= development.slug %>">
                        <div class="card-body">
                            <h2 class="card-heading"><%= development.title %></h2>
                            <p class="card-text"><%= development.summary %></p>
                        </div>
                    </a>
                </div>
            <% end %>
        </div>
    </div>
</div>