<br/>
<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-8 font-italic">Currently viewing the latest developments.</h1> 
            <p>Click on them to find out more.</p>
        </div>
    </div>


  <form class="card bg-secondary rounded " method="GET" action="/developments">
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-9">
          <input type="text" class="form-control" id="search" name="search" placeholder="Search by development title.">
        </div>
        <div class="form-group col-md-3">
          <button type="submit" class="btn btn-light btn-block">Search</button>
        </div>
    </div>
  </form>

  <% if @developments.size == 0 %>
    <div class="card">
      <div class="card-body">
        <h5>No developments found matching the search <%= @search %></h5>
      </div>
    </div>
  <% end %>
</div>

<div class="album pt-4 bg-white">
    <div class="card-deck">
      <% @developments.reverse.each do |development| %>
        <div class="card mb-4 bg-light shadow-sm" style="min-width: 18rem;">
          <a class="text-dark card-link" href="/developments/<%= development.slug %>">
            <div class="card-body">
              <h4 class="card-heading"><%= development.title %></h4>
              <h5 class="card-title text-muted"><%= development.developer.company %></h5>
              <p class="card-text"><%= development.summary %></p>
            </div>
          </a>
        </div>
      <% end %>
    </div>
</div>
