<br/>
<main role="main">
  <div class="container">

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic"><%= @development.title %></h1>
        <p class="lead my-3">Average users' rating: <%= @development.average_rating %></p>
        <a type="button" href="/users/<%= @development.developer.slug %>" role="button" class="btn btn-light"><%= @development.developer.company %></a>
        <!--
        <p class="lead my-3">@development.address</p>
        -->
      </div>
    </div>

    <!--
    <img class="img-fluid rounded" src="" />
    -->
    <p><%= @development.html %></p>
    <br/>

    <% if current_developer? %>
      <div class="form-row">
        <div class="form-group col-md-6">
          <form method="GET" action="/developments/<%= @development.slug %>/edit">
            <button type="submit" class="btn btn-primary btn-block">Edit development.</button>
          </form>
        </div>
        <div class="form-group col-md-6">
          <form method="POST" action="/developments/<%= @development.slug %>">
            <input type=hidden name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block">Delete development.</button>
          </form>
        </div>
      </div>
    <% end %>
    <% if !current_user.developer %>
      <form class="card bg-secondary rounded " method="POST" action="/comments">
        <input type="hidden" name="route" value="<%= @current_uri %>">
        <input type="hidden" name="comment[development_id]" value="<%= @development.id %>">
        <div class="card-body">
          <div class="form-group">
            <label for="body"><h5>What are your thoughts on this development?</h5></label>
            <input type="text" class="form-control" id="body" name="comment[body]" placeholder="Feedback here">
          </div>
          <div class="form-group">
            <label for="content"><h5>How would you rate this development?</h5></label><br>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="comment[rating]" id="inlineRadio1" value="1">
              <label class="form-check-label" for="inlineRadio1">1 (very poor)</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="comment[rating]" id="inlineRadio2" value="2">
              <label class="form-check-label" for="inlineRadio2">2 (poor)</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="comment[rating]" id="inlineRadio3" value="3">
              <label class="form-check-label" for="inlineRadio3">3 (indifferent)</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="comment[rating]" id="inlineRadio4" value="4">
              <label class="form-check-label" for="inlineRadio4">4 (good)</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="comment[rating]" id="inlineRadio5" value="5">
              <label class="form-check-label" for="inlineRadio5">5 (excellent)</label>
            </div>

          </div>
          <button type="submit" class="btn btn-light btn-block">Add comment</button>
        </div>
      </form>
    <% end %>
    <br>

    <div class="card text-white bg-dark">
      <div class="card-header">
        <h5>User's feedback for this development.</h5>
      </div>
    </div>

    <br>

    <% @comments.each do |comment| %>
      <div class="card">
        <div class="card-header">
          <h5><%= comment.user.full_name %></h5>
        </div>
        <div class="card-body">
          <% if comment.rating %>
            <h5 class="card-title">Rating: <%= comment.rating %></h5>
          <% end %>
          <p class="card-text"><%= comment.body %></p>
          <% if comment.user == current_user %>
            <form method="POST" action="/comments/<%= comment.id %>">
              <input type=hidden name="_method" value="DELETE">
              <input type="hidden" name="route" value="<%= @current_uri %>">
              <button type="submit" class="btn btn-danger">Delete comment.</button>
            </form>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>

  </div>
</main>