<!doctype html>
<html>
  <head>
    <title>Housing Devlopment UK</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body class="pb-5">

    <header>
      <!-- Nav example from Bootstrap website -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Housing Devlopment UK Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">

            <% if logged_in? %>
              <a class="nav-item nav-link" href="/developers">All developers</a>
              <% if current_user.developer %>
                <a class="nav-item nav-link" href="/developers/<%= current_user.slug %>"><%= current_user.company %></a>
              <% else%>
                <a class="nav-item nav-link" href="/users/home"><%= current_user.full_name %></a>
              <% end %>
              <a class="nav-item nav-link" href="/users/logout">Log out</a>
            <% else %>
              <a class="nav-item nav-link" href="/users/login">Log in</a>
              <a class="nav-item nav-link" href="/users/signup">Sign up</a>
            <% end %>

          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

    <br>

  <footer class="footer fixed-bottom bg-white mt-0/">
    <hr class="mt-0">
    <div class="container text-center text-muted">
      <span> Housing Development UK <%= Time.now.year %></span>
    </div>
    <br>
  </footer>

  </body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>